<form #registerForm="ngForm" (ngSubmit)="register()">
  <div>
    <div class="form-group">
      <label for="Username">Username</label>
      <input type="text" class="form-control" required placeholder="Username" name="Username" [(ngModel)]="model.Username">
    </div>
    <div class="form-group">
      <label for="Username">Email</label>
      <input type="text" class="form-control" required placeholder="Email" name="Email" [(ngModel)]="model.Email">
    </div>
    <div class="form-group">
      <label for="Favorite Value">What is your Favorite value?</label>
      <select name="" class="form-control" id="favoriteValue">
        <option *ngFor="let value of ValuesFromHome" [value]="value">{{value.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="Password">Password</label>
      <input type="password" class="form-control" required placeholder="Password" name="Password" [(ngModel)]="model.Password">
    </div>
    <div class="form-group">
      <div class="btn-group">
        <button class="btn btn-success rounded-0">Register</button>
        <button class="btn btn-danger rounded-0" (click)="cancel()">Cancel</button>
      </div>
    </div>
  </div>
</form>
