<div class="container mt-3">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top img-thumbnail" src="{{user.photoUrl}}" alt="{{user?.knownAs}}">
        <div class="card-body">
          <div>
            <strong>Username:</strong>
            <p>{{user.knownAs}}</p>
          </div>
          <div>
            <strong>Location:</strong>
            <p>{{user.city}}, {{user?.country}}</p>
          </div>
          <div>
            <strong>Age</strong>
            <p>{{user.age}}</p>
          </div>
          <div>
            <strong>Last Active</strong>
            <p>{{user.lasActive}}</p>
          </div>
          <div>
            <strong>Member Since</strong>
            <p>{{user.created}}</p>
          </div>
        </div>
        <div class="card-footer">
          <div class="btn-group d-flex">
            <button class="btn btn-primary w-100 rounded-0">Like</button>
            <button class="btn btn-success w-100 rounded-0">Message</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab heading="About">
            <h5>Description</h5>
            {{user.introduction}}
            <h5>LookingFor?</h5>
            {{user.lookingFor}}
          </tab>

          <tab heading="Interests">
            <h5>Interests</h5>
            <p>{{user.interests}}</p>
          </tab>

          <tab heading="Photos">
            <h5>Photos</h5>
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>

          </tab>

          <tab heading="Messages">
            <h5>Messages</h5>
            <p>Messages</p>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
